<web-app>
	<servlet>
	   <servlet-name>Registration</servlet-name>
	   <servlet-class>Registration</servlet-class>
	</servlet>

	<servlet-mapping>
	   <servlet-name>Registration</servlet-name>
	   <url-pattern>/Registration</url-pattern>
	</servlet-mapping>
	
	<servlet>
	   <servlet-name>Question</servlet-name>
	   <servlet-class>Question</servlet-class>
	</servlet>

	<servlet-mapping>
	   <servlet-name>Question</servlet-name>
	   <url-pattern>/Question</url-pattern>
	</servlet-mapping>
</web-app>

